QWidget {
    background: @bg-medium@;
    color: @text-color@;
}

QCheckBox {
    outline: none;
}

/* QCheckBox */
QCheckBox::indicator{
    width: 10px;
    height: 10px;
    border: 1px solid @bg-dark@;
}

QCheckBox::indicator:indeterminate{
    background-color: qlineargradient(spread:pad, x1:0.3, y1:0.3, x2:0.7, y2:0.7, stop:0 @bg-medium@, stop: 0.5 @pal-light@, stop: 1 @bg-medium@);
}

QCheckBox::indicator:checked{
    background-color: qlineargradient(@top-to-bottom@, @gradient@);
}

QRadioButton {
    background-color: @bg-medium@;
    color: white;
    outline: none;
}

QRadioButton::indicator {
    width:                  10px;
    height:                 10px;
    border-radius:          7px;
    border: 2px solid @bg-dark@;
}

QRadioButton::indicator:checked {
    background: qradialgradient(spread: pad, cx: 0.5, cy: 0.5, radius: 0.5, fx: 0.5, fy: 0.5, stop: 0 @pal-light@, stop: 0.45 @pal-medium@, stop: 0.5 @pal-dark@); 
}

QRadioButton::indicator:unchecked {
}
/* /\* QRadioButton *\/ */
/* QRadioButton::indicator{ */
/*     width: 12px; */
/*     height: 12px; */
/*     border: 2px solid @bg-dark@; */
/*     border-radius: 8px; */
/* } */

/* QRadioButton::indicator:checked{ */
/*     width: 12px; */
/*     height: 12px; */
/*     border: 2px solid @bg-dark@; */
/*     border-radius: 8px; */
/* } */

/* Item Views */
QAbstractItemView {
    outline: none;
    background-color: @bg-medium@;
}

QAbstractItemView::item {
    min-height: 20px;
    outline: none;
}

QAbstractItemView::item:selected{
    background: qlineargradient(@top-to-bottom@, @gradient@);
    color: @selected-text-color@;
}

QTableView {
    gridline-color: @pal-dark@;
}

QTableView QTableCornerButton::section {
    background: qlineargradient(@top-to-bottom@, @bg-gradient@);
}

/* QHeaderView */
QHeaderView::section{
    background: qlineargradient(@top-to-bottom@, @bg-gradient@);
    color: @text-color@;
    font-weight: bold;
    border-style: none;
    border-bottom: 1px solid @bg-dark@;
    border-right: 1px solid @bg-dark@;
    border-top: 1px solid @bg-dark@;
    border-left: 1px solid @bg-dark@;
    padding-left: 5px;
    padding-right: 5px;
}

/* QComboBox */
QComboBox {
    border: 1px solid @bg-dark@;
    background-color: @bg-medium@;
    color: @text-color@;
    border-radius: 4px;
    padding: 1px 18px 1px 3px;
    min-width: 6em;
}

QComboBox:on {
    padding-left: 5px;
}

QComboBox QAbstractItemView::item:selected{
    background: qlineargradient(@top-to-bottom@, @gradient@);
    color: @selected-text-color@;
}

/* QMenu */
QMenu::item:selected {
    background: qlineargradient(@top-to-bottom@, @gradient@);
}

QMenu::item {
    background-color: transparent;
}

/* QMenuBar */
QMenuBar {
    background-color: qlineargradient(@top-to-bottom@, @bg-gradient@);
    color: @text-color@;
}

/* QMainWindow */
QMainWindow {
    background: @bg-light@;
    color: @text-color@;
}

/* QProgressBar */

QProgressBar {
    border: 2px solid @pal-dark@;
    border-radius: 5px;
    text-align: right;
    margin-right: 30px;
    height: 15px;
    color: @text-color@;
}

QProgressBar::chunk {
    background: @pal-light@;
    width: 20px;
}

/* QPushButton */
QPushButton {
    border: 1px solid @bg-dark@;
    border-radius: 6px;
    min-width: 80px;
    color: @selected-text-color@;
    min-height: 20px;
    outline: none;
    background: qlineargradient(@top-to-bottom@, @gradient-lighter@);
}

QPushButton:disabled{
    background: @bg-dark@;
    border-color: @bg-dark@;
    color: #dddddd;
}

QPushButton:focus{
    border: 2px solid @pal-dark@;
}

QPushButton:pressed{
    background: qlineargradient(@bottom-to-top@, @gradient-lighter@);
}

/* QGroupBox */
QGroupBox {
    border: 1px solid @bg-dark@;
    border-radius: 10px;
    margin-top: 0.5em;
}

QGroupBox::title{
    subcontrol-origin: margin;
    left: 12px;
    padding: 0px 2px 0px 2px;
}

/* QLineEdit */
QLineEdit {
    padding-left: 5px;
    padding-right: 5px;
    selection-background-color: @pal-medium@;
    selection-color: @selected-text-color@;
}

QLineEdit:focus{
    border: 2px solid @pal-dark@;
    border-radius: 6px;
}

QLineEdit[readOnly="true"] {
    background-color: @bg-light@;
    color: @text-color@;
}

/* Spin Boxes */
QAbstractSpinBox {
    min-width: 6em;
    padding-left: 5px;
    padding-right: 5px;
    selection-color: @selected-text-color@;
    selection-background-color: @pal-medium@;
}

QAbstractSpinBox:focus {
    border: 2px solid @pal-dark@;
}

QWidget#qt_calendar_navigationbar {
    background: qlineargradient(@top-to-bottom@, @gradient@);
}

QWidget#qt_calendar_monthbutton, QWidget#qt_calendar_yearbutton{
    color: @selected-text-color@;
}

QWidget#qt_calendar_prevmonth, QWidget#qt_calendar_nextmonth{
    color: #ffffff;
}

QWidget#qt_calendar_calendarview{
    selection-background-color: @pal-medium@;
}

/* Local Variables: */
/* eval: (skg/mode t) */
/* End: */
